[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numba = "*"
numpy = "*"
pandas = "*"
pyopenms = "*"
scipy = "*"
seaborn = "*"
sphinx = "*"
"sphinxjp.themes.basicstrap" = "*"

[dev-packages]

[requires]
python_version = "3.6"
