[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
intel-numpy = "*"
intel-scipy = "*"
numba = "*"
pyopenms = "*"
sphinx = "*"
"sphinxjp.themes.basicstrap" = "*"

[dev-packages]

[requires]
python_version = "3.6"
